@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;

    font-family: var(--mainFont);
}

:root {
    /* Colors */
    --primary: #171717;
    --secondary: #ededed;
    --tertiary: #ababab;
    --testimonialBoxOne: #2c2c2c;

    /* Measures */
    --mainMeasure: 1em;
    --secMainMeasure: 3em;
    --secMeasure: 2em;
    --rdMeasure: 0.5em;
    --thMeasure: 0.2em;
    --diffMeasure: 0.01em;
    --fontSizeTitle: 1.3em;
    --fontSizeParagraph: 1.1em;

    /* Fonts */
    --mainFont: "Roboto", serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
span {
    margin: 0 var(--thMeasure) 0 var(--thMeasure);
}

.container-input-date {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--primary);
}

.container-input-date .container-text-dates {
    display: flex;
    margin-right: 5em;
}

/* .container-text-dates #day {}
.container-text-dates #month {}
.container-text-dates #year {} */

.container-input-date .calendar-icon {
    width: 1.5em;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

/* .calendar-icon #cal-icon {} */

/* CALENDAR ITSELF */
.container-calendar {
    margin-top: var(--secMeasure);
}

.container-calendar .month-choice {
    display: flex;
    align-items: center;
    justify-content: center;
}

.month-choice #left-arrow-icon, #right-arrow-icon {
    width: 2em;
}

.month-choice .month-itself {
    margin: 0 var(--secMainMeasure) 0 var(--secMainMeasure);
}

.container-calendar .days-week {
    width: 20em;
    display: grid;
    /* place-items: center; */
    /* position: absolute; */
    /* top: 0; */
    /* bottom: 0; */
    /* right: 0; */
    /* left: 0; */
    border: 3px solid blue;
}

.days-week .week {
    display: flex;
    justify-content: space-between;
}

.week .week-days {}
.days-week .month-numbers {}

.month-numbers .container-first-row, 
    .container-second-row,
    .container-third-row, 
    .container-fourth-row, 
    .container-fifth-row {
        display: flex;
        border: 3px solid red;
}

/* .container-first-row,
.container-second-row,
.container-third-row, 
.container-fourth-row, 
.container-fifth-row .day {
    position: absolute;
    top: 10em;
    bottom: 10em;
    right: 5em;
    left: 5em;
} */