@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;

    font-family: var(--mainFont);
}

:root {
    /* Colors */
    --primary: #171717;
    --secondary: #ededed;
    --tertiary: #ababab;
    --testimonialBoxOne: #2c2c2c;

    /* Measures */
    --mainMeasure: 1em;
    --secMainMeasure: 3em;
    --secMeasure: 2em;
    --rdMeasure: 0.5em;
    --thMeasure: 0.2em;
    --diffMeasure: 0.01em;
    --fontSizeTitle: 1.3em;
    --fontSizeParagraph: 1.1em;

    /* Fonts */
    --mainFont: "Roboto", serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background: linear-gradient(60deg, rgb(39 28 86) 0%, rgb(0 85 96) 100%);
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

input {
    background-color: var(--primary);
    border-radius: 10px;
    border: none;
    line-height: 80px;
    width: 400px;
    padding: 0 20px;
    box-shadow: .4em .3em 5px rgb(0 0 0 / 60%);
    outline: none;
    color: white;
    font-size: 22px;
}