@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;

    font-family: var(--mainFont);
}

:root {
    /* Colors */
    --primary: #171717;
    --secondary: #ededed;
    --tertiary: #ababab;
    --testimonialBoxOne: #2c2c2c;

    /* Measures */
    --mainMeasure: 1em;
    --secMainMeasure: 3em;
    --secMeasure: 2em;
    --rdMeasure: 0.5em;
    --thMeasure: 0.2em;
    --diffMeasure: 0.01em;
    --fontSizeTitle: 1.3em;
    --fontSizeParagraph: 1.1em;

    /* Fonts */
    --mainFont: "Roboto", serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
span {
    margin: 0 var(--thMeasure) 0 var(--thMeasure);
}

main {
}

.container-input-date {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--primary);
}

.container-input-date .container-text-dates {
    display: flex;
    margin-right: 5em;
}

/* .container-text-dates #day {}
.container-text-dates #month {}
.container-text-dates #year {} */

.container-input-date .calendar-icon {
    width: 1.5em;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

/* .calendar-icon #cal-icon {} */

/* CALENDAR ITSELF */